.fakeTextarea {
  position: absolute;
  visibility: hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.textarea {
  position: relative;
  padding: 0;
  outline: none;
  border: none;
  resize: none;
  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  overflow: hidden;

  &:hover,
  &:focus {
    &:not(:disabled) {
      background-color: var(--background);
    }
  }

  &:focus {
    z-index: 1;
    outline: 1px var(--current-line) solid;
  }

  &::placeholder {
    color: var(--foreground);
    font-size: 1rem;
    opacity: 0.5;
  }
}
